/SISTEMA-OOIA/nbproject/private/
/GestionAcademicaModel/nbproject/private/
/GestionAtencionModel/nbproject/private/
/GestionEventosModel/nbproject/private/
/GestionHumanaModel/nbproject/private/
/GestionTramitesAcademicosModel/nbproject/private/
/Interfaces/nbproject/private/
/GestionAcademicaModel/build/
/GestionAcademicaModel/dist/
/GestionTramitesAcademicosModel/build/
/Interfaces/build/
/GestionHumanaModel/build/
/Interfaces/dist/
/GestionHumanaModel/dist/
/GestionTramitesAcademicosModel/dist/
/GestionHumanaController/nbproject/private/
/OOIAConfigMySql/nbproject/private/
/GestionTramitesAcademicosController/nbproject/private/
/OOIAConfigMySql/build/
/OOIAConfigMySql/dist/
/GestionTramitesAcademicosController/build/
/GestionHumanaController/build/
/GestionHumanaController/dist/
/GestionTramitesAcademicosController/dist/
/main/nbproject/private/
/main/build/
/main/dist/
