/SISTEMA-OOIA/nbproject/private/
/GestionAcademicaModel/nbproject/private/
/GestionAtencionModel/nbproject/private/
/GestionEventosModel/nbproject/private/
/GestionHumanaModel/nbproject/private/
/GestionTramitesAcademicosModel/nbproject/private/
/Interfaces/nbproject/private/
/GestionAcademicaModel/build/
/GestionAcademicaModel/dist/
/GestionTramitesAcademicosModel/build/
/Interfaces/build/
/GestionHumanaModel/build/
/Interfaces/dist/
/GestionHumanaModel/dist/
/GestionTramitesAcademicosModel/dist/
/GestionHumanaController/nbproject/private/
/OOIAConfigMySql/nbproject/private/
/GestionTramitesAcademicosController/nbproject/private/
/OOIAConfigMySql/build/
/OOIAConfigMySql/dist/
/GestionTramitesAcademicosController/build/
/GestionHumanaController/build/
/GestionHumanaController/dist/
/GestionTramitesAcademicosController/dist/
/main/nbproject/private/
/main/build/
/main/dist/
/ProyectosJAVA/GestionEventosController/nbproject/private/
/ProyectosJAVA/GestionEventosModel/nbproject/private/
/ProyectosJAVA/GestionHumanaController/nbproject/private/
/ProyectosJAVA/GestionHumanaModel/nbproject/private/
/ProyectosJAVA/GestionTramitesAcademicosController/nbproject/private/
/ProyectosJAVA/GestionTramitesAcademicosModel/nbproject/private/
/ProyectosJAVA/Interfaces/nbproject/private/
/ProyectosJAVA/OOIAConfigMySql/nbproject/private/
Proyectos_Lab6.zip
*.cache
*.cache
*.cache
/ProyectosJAVA/PruebaMySql/nbproject/private/
/ProyectosJAVA/Interfaces/build/
/ProyectosJAVA/GestionHumanaModel/build/
/ProyectosJAVA/GestionEventosController/build/
/ProyectosJAVA/PruebaMySql/build/
/ProyectosJAVA/GestionEventosModel/build/
/ProyectosJAVA/Interfaces/dist/
/ProyectosJAVA/GestionHumanaModel/dist/
/ProyectosJAVA/OOIAConfigMySql/build/
/ProyectosJAVA/OOIAConfigMySql/dist/
/ProyectosJAVA/GestionEventosModel/dist/
/ProyectosJAVA/GestionEventosController/dist/
/ProyectosJAVA/GestionHumanaController/build/
/ProyectosJAVA/GestionTramitesAcademicosController/build/
/ProyectosJAVA/GestionTramitesAcademicosModel/build/
/ProyectosJAVA/GestionHumanaController/dist/
/ProyectosJAVA/GestionTramitesAcademicosModel/dist/
/ProyectosJAVA/GestionTramitesAcademicosController/dist/
/ProyectosJAVA/PruebaMySql/dist/
/ProyectosJAVA/WebServices/nbproject/private/
/ProyectosJAVA/OOIAWebServices/nbproject/private/
/ProyectosJAVA/OOIAWebServices/build/
/ProyectosJAVA/OOIAWebServices/dist/
/ProyectosJAVA/OOIAsoftWebServices/nbproject/private/
/ProyectosJAVA/OOIAsoftWebServices/build/
/ProyectosJAVA/OOIAsoftWebServices/dist/
/ProyectosJAVA/Servicios/nbproject/private/
/ProyectosJAVA/Servicios/build/
/ProyectosJAVA/Servicios/dist/
