<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GesionEventoWSPortBinding" />
                <binding name="GestionHumanaWSPortBinding" />
                <binding name="GestionAtencionWSPortBinding" />
                <binding name="AlumnosCSVcargaWS1PortBinding" />
                <binding name="PsicologosCSVcargaWSPortBinding" />
                <binding name="ProfesoresCSVcargaWSPortBinding" />
                <binding name="CoordinadorEventoWSPortBinding" />
                <binding name="InvitadoWSPortBinding" />
                <binding name="AlumnoWSPortBinding" />
                <binding name="ProfesorWSPortBinding" />
                <binding name="EspecialidadWSPortBinding" />
                <binding name="ComprimisoWSPortBinding" />
                <binding name="HorarioWSPortBinding" />
                <binding name="EventoAlumnoWSPortBinding" />
                <binding name="CitaWSPortBinding" />
                <binding name="PsicologoWSPortBinding" />
                <binding name="EventoWSPortBinding" />
                <binding name="CodigoAtencionWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://alvaro:8080/AuxiliarWS/GesionEventoWS"
                binding="basicHttpBinding" bindingConfiguration="GesionEventoWSPortBinding"
                contract="GestionEventoWS.GesionEventoWS" name="GesionEventoWSPort" />
            <endpoint address="http://alvaro:8080/AuxiliarWS/GestionHumanaWS"
                binding="basicHttpBinding" bindingConfiguration="GestionHumanaWSPortBinding"
                contract="GestionHumanaWS.GestionHumanaWS" name="GestionHumanaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/GestionAtencionWS"
                binding="basicHttpBinding" bindingConfiguration="GestionAtencionWSPortBinding"
                contract="GestionAtencionWS.GestionAtencionWS" name="GestionAtencionWSPort" />
            <endpoint address="http://alvaro:8080/AuxiliarWS/AlumnosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnosCSVcargaWS1PortBinding"
                contract="CargarCSValumnos.AlumnosCSVcargaWS1" name="AlumnosCSVcargaWS1Port" />
            <endpoint address="http://localhost:8080/AuxiliarWS/PsicologosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologosCSVcargaWSPortBinding"
                contract="CargarCSVpsicologos.PsicologosCSVcargaWS" name="PsicologosCSVcargaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/ProfesoresCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="ProfesoresCSVcargaWSPortBinding"
                contract="CargarCSVprofesores.ProfesoresCSVcargaWS" name="ProfesoresCSVcargaWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CoordinadorEventoWS"
                binding="basicHttpBinding" bindingConfiguration="CoordinadorEventoWSPortBinding"
                contract="CoordinadorEventoWS.CoordinadorEventoWS" name="CoordinadorEventoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/InvitadoWS"
                binding="basicHttpBinding" bindingConfiguration="InvitadoWSPortBinding"
                contract="InvitadoWS.InvitadoWS" name="InvitadoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/AlumnoWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnoWSPortBinding"
                contract="AlumnoWS.AlumnoWS" name="AlumnoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/ProfesorWS"
                binding="basicHttpBinding" bindingConfiguration="ProfesorWSPortBinding"
                contract="ProfesorWS.ProfesorWS" name="ProfesorWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EspecialidadWS"
                binding="basicHttpBinding" bindingConfiguration="EspecialidadWSPortBinding"
                contract="EspecialidadWS.EspecialidadWS" name="EspecialidadWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/ComprimisoWS"
                binding="basicHttpBinding" bindingConfiguration="ComprimisoWSPortBinding"
                contract="CompromisoWS.ComprimisoWS" name="ComprimisoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/HorarioWS"
                binding="basicHttpBinding" bindingConfiguration="HorarioWSPortBinding"
                contract="HorarioWS.HorarioWS" name="HorarioWSPort" />
            <endpoint address="http://alvaro:8080/WebServicesOOIA/EventoAlumno"
                binding="basicHttpBinding" bindingConfiguration="EventoAlumnoWSPortBinding"
                contract="EventoAlumnoWS.EventoAlumnoWS" name="EventoAlumnoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CitaWS"
                binding="basicHttpBinding" bindingConfiguration="CitaWSPortBinding"
                contract="CitaWS.CitaWS" name="CitaWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/PsicologoWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologoWSPortBinding"
                contract="PsicologoWS.PsicologoWS" name="PsicologoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EventoWS"
                binding="basicHttpBinding" bindingConfiguration="EventoWSPortBinding"
                contract="EventosWS.EventoWS" name="EventoWSPort" />
            <endpoint address="http://alvaro:8080/WebServicesOOIA/CodigoWS"
                binding="basicHttpBinding" bindingConfiguration="CodigoAtencionWSPortBinding"
                contract="CodigoAtencionWS.CodigoAtencionWS" name="CodigoAtencionWSPort" />
        </client>
    </system.serviceModel>
</configuration>