<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GesionEventoWSPortBinding" />
                <binding name="GestionHumanaWSPortBinding" />
                <binding name="GestionAtencionWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://alvaro:8080/AuxiliarWS/GesionEventoWS"
                binding="basicHttpBinding" bindingConfiguration="GesionEventoWSPortBinding"
                contract="GestionEventoWS.GesionEventoWS" name="GesionEventoWSPort" />
            <endpoint address="http://alvaro:8080/AuxiliarWS/GestionHumanaWS"
                binding="basicHttpBinding" bindingConfiguration="GestionHumanaWSPortBinding"
                contract="GestionHumanaWS.GestionHumanaWS" name="GestionHumanaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/GestionAtencionWS"
                binding="basicHttpBinding" bindingConfiguration="GestionAtencionWSPortBinding"
                contract="GestionAtencionWS.GestionAtencionWS" name="GestionAtencionWSPort" />
        </client>
    </system.serviceModel>
</configuration>